.node{
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 16px;
}

.node b{
  text-transform: capitalize;
  margin-bottom: 4px;
  font-size: 14px;
}

.inliner{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.tag{
  display: inline-flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7px;
  border: 1px solid  black;
}

.child{
  background-color: #444763;
  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
  border-radius: 10px;
}