.cont{
  background-color: #27293d;
  border-radius: .4285rem;
  padding: 16px !important;
  color: #d0cfcf;
  margin-bottom: 20px;
}

.cont h4{
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: bold
}